<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>You've successfully removed a collaborator from your Wiki.</h1>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
